extends layout

block content
  div.splash-outer-container
    div.splash-container
      h1.splash-header Dan and Lauren Adventures
  h1 Hello!
  p 
    span We are Dan and Lauren, and we live in Boston, Massachusetts and love the outdoors, hiking, and skiing! This summer, we're attempting the 
    a(href="/NH48") NH 48 
    span as a big challenge.