extends layout

block content
  h1 The New Hampshire 48
  div
    include viz
  div.row
    div.col-sm-6
      h2 Completed
      each mountain in mountains
        if (mountain["Completed Date"] != '')
          div 
            a(href="/mountains/#{mountain.Name}") #{mountain.Name}
    div.col-sm-6
      h2 To Do
      each mountain in mountains
        if (mountain["Completed Date"] == '')
          div #{mountain.Name}
          