html {
  height: 100%;
}

body {
  background-size: cover;
  background-image: url(https://i.redd.it/vc1188qvfc911.jpg);
  background-repeat: no-repeat;
  height: 100%;
  min-height: 500px;
}

a {
  color: #00B7FF;
}

.splash-header {
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px grey;
  color: white;
}

.main-container {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  width: 50%;
  margin: 0 auto; 
}