html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 500px;
}

a {
  color: #00B7FF;
}

h1 {
  margin-top: 10px;
}

hr {
  position: absolute;
  bottom: 10px;
  border: 1px solid #eee;
  width: 95%;
  left: 0;
  right: 0;
}

.main-container {
  width: 50%;
  margin: 0 auto; 
  min-width: 280px;
  padding: 0px 10px 0px 10px;
}

.splash-header {
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px grey;
  color: white;
  display: table-cell;
  vertical-align: middle;
}

.splash-outer-container {
  height: 400px;
  margin-bottom: 10px;
}

.splash-container {
  height: 400px;
  background-size: cover;
  background-image: url('/images/franconia.jpg');
  background-repeat: no-repeat;
  position:absolute;
  left:0;
  right:0;
  display: table;
  text-align: center;
  width: 100%;
}

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.nav-item {
  margin-left: 10px;
}